.form {
    display: inline-block;
    font-size: large;
    text-align: left;
    width: 400px;
    height: 100px;
}
.input-container {
    text-align: left;
    display: block;
    margin: 10px;
    width: 900px;
    height: 250px;
}
.input-text-div {
    font-size: large;
    text-align: left;
    width: 400px;
    height: 100px;
}
.h3 {
    display: inline-block;
}
.img-container{
    display: inline-block;
    margin-right: 150px;
}
.icon {
    display: inline-block;
    width: 250px;
    height: 250px;
    border: 0px;
    border-radius: 50%;
}