.container-div{
    display: inline-block;
    margin: 70px;
    width: 1000px;
    border-radius: 50px;
    background-color: rgba(118, 206, 100, 0.533);
}
.plus-btn {
    display: block;
    width: 30px;
    height: 30px;
}
.plus-btn-div{
    display: block;
    float: right;
    margin-top: -100px;
    margin-right: 250px;
}
.error-div{
    display: inline-block;
    font: 25px bold;
    border: 3px solid red;
    border-radius: 20px;
    margin: 15px 0 ;
    padding: 0 20px;
}