
.details-div {
    display: block;
    float: left;
    box-sizing: border-box;
    margin: 70px;
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    border-radius: 50px;
}
.edit-div {
    display: block;
    float: right;
    margin: 20px;
}
.icon {
    display: block;
    width: 30px;
    height: 25px;
}