
.details-div {
    display: block;
    float: left;
    box-sizing: border-box;
    margin: 70px;
    width: 1000px;
    height: 1000px;
    border-radius: 50px;
    background-color: rgba(153, 153, 210, 0.434);
}