.location-card-div{
    margin: 20px;
    display: inline-block;
    vertical-align: bottom;
    height: 120px;
    width: 250px;
    border: 1px solid;
    border-radius: 20px 20px 5px 5px;
    background-color: rgba(153, 153, 210, 0.434);
}