.link { 
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding:10px 30px ;
    border: 1px solid;
    border-radius: 50px ;
    color: black;
    background-color: rgba(118, 206, 100, 0.533);
  }
  .link:hover {
    background-color: rgb(223, 12, 54);
    transition: color 0.7s ease-in-out, background-color 0.5s ease-in-out
  }