.label-newLine {
    display: inline-block;
    font: 25px bold;
    margin: 25px 0;
    width: 100%;
}
.textarea {  
    height: 300px;
    width: 800px;
    display: inline-block;
    font-size: 15px;
    overflow-y: auto;
}