.h3 {
    margin-left: 190px;
    display: inline-block;
    font-size: large;
    text-align: center;
    padding: 30px;
}
.group-div {
    text-align: center;
}
.create-group-div {
    display: block;
    float: right;
    padding-top: 45px;
    padding-right: 16px;
}
.sub-navigate-div{
    display: inline-block;
    width: 1500px;
}