.h3 {
    display: inline-block;
    font-size: large;
    text-align: center;
    padding: 30px;
}
.activity-div {
    text-align: center;
}
.create-activity-div {
    position: absolute;
    display: inline-block;
    right: 0px;
    padding-top: 45px;
    padding-right: 16px;
}
.sub-navigate-div{
    display: inline-block;
    width: 1500px;
}