.form {
    box-sizing: content-box;
    display: inline-block;
    border: 2px solid black;
    border-radius: 20px;
    width: 83%;
    background-color: #d8cacad1;
    margin: 5px;
}
.label{
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 20px;
}
.textarea {  
    margin-bottom: 48px;
    height: 90px;
    width: 80%;
    display: inline-block;
    font-size: 16px;
    overflow-y: auto;
    border-radius: 15px;
    resize: none;
    text-align: center;
}