
  .header {
    display: block;
    text-align: center;
    min-height: 600px;
     height: 100%; 
     background-color: red;
    /* background: url(../../../public/images/homeHeader.jpg) no-repeat center center fixed ;  */
    background-size: cover;
  }

  .title {
    font-size: 100px;
    margin-bottom: 100px ;
  }
  .subtitle { 
    padding-top: 50px;
    margin: 0px 100px 20px ;
    font-size: 50px;
      }
  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
  }