
.navigation-div {
    border: 1px solid black;
    border-radius: 36px/35px;
    display: inline-block;
    position: sticky;
    top: 1vw;
    left: 5vw;
    background-color: rgb(0 0 0 / 45%) ; 
}
.nav { 
    display: inline-block;
    width: 80vw;;
}
.ul{
    display: block;
    text-align: center;
    margin: 0.5vw 0 0.5vw 0;
}
.li {
    text-align: -webkit-auto;
    display: inline-block;
    width: 15vw;
}
.home-div {
    float: left;
    display: block;
    background-color: rgba(190, 175, 175, 0.505);
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.profile-div{
    display: block;
    float: right;
    background-color: rgba(190, 175, 175, 0.505);
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
 .link-icon{
    position: relative;
    font-weight: bolder;
    font-size: 120%;
    text-decoration: none;
    color: rgb(79 0 15);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
} 
.icon {
    background-color: rgba(190, 175, 175, 0.505);
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
