.article {
    box-sizing: content-box;
    text-align: left;
    display: inline-block;
    border-radius: 20px;
    width: 83%;
    background-color: rgba(153, 153, 210, 0.434);
    margin: 5px;
}
.author{
    box-sizing: border-box;
    display: inline-block;
    margin: 16px;
    text-align: left;
    width: 15%;
    border-right: 1px solid black;
}
.text-comment{
    text-align: start;
    display: inline-block;
    word-wrap: break-word;
    width: 75%;
}